<!DOCTYPE html>
<head>
<title>Spun By Me</title>

{% load qr_tags %}
<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}lib/bootstrap/lib/bootstrap.less" />
<link rel="stylesheet" type="text/less" href="{{STATIC_URL}}css/dashboard.less" />

<script src="{{STATIC_URL}}lib/bootstrap/less-1.1.3.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="{{STATIC_URL}}lib/simple_modal.js"></script>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      google.load("swfobject", "2.1");
    </script>    

<script src="{{STATIC_URL}}js/dashboard.js"></script>
</head>

<body>
<div id="header">
	<img style="float: left" src="{{STATIC_URL}}logo/logo_grey_me.png" />
	<form method="get" id="searchform">
		<fieldset class="search">
			<input type="text" class="box" id="q" name="q"/>
			<button class="btn" title="Submit Search">Search</button>
		</fieldset>
	</form>
</div>
<input id='party_id' type='hidden' value='{{ party.id }}'>
<div id="container">


	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span8">
					<div id="playlist">
						<div class="widgetheader">DJ Queue</div>
						<!-- <div class="entry">
							<div class="info">
								<div class="vote">
									<div class="upvote"></div>
									<div class="votecount">10</div>
									<div class="downvote"></div>
								</div>
								<h2>Around the World</h2>
								<h3>Daft Punk</h3>
							</div> 
						</div> 
						<div class="entry">
							<h2>Overture</h2>
							<h3>Daft Punk</h3>
							<span class="label success">1</span>
							<span class="label important">6</span>
						</div> --> 
					</div> <!-- close playlist -->

					<div id="embed">
						<div id="videoDiv">Loading...</div>
						
					</div>
				</div>

				<div class="span4">
					<div id="qrcode">
						{% qr_from_text "http://spunby.me/party/"+{{ party.slug }} "l" %}
					</div>
					<span style="font-size:24px; font-color:'60B9CE'">Scan -> Vote</span>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
