{% extends "base.html" %}

{% block title %}Welcome to SpunBy.Me!{% endblock %}


{% block content %}
{% if user %}
<div class='roundbox'>
Hey {{user.first_name}}, welcome to SpunBy.Me! Ready to get started?<br><br>
</div>
<div class='roundbox'>
<h1 class='center'>Step one? Choose a name!</h1>
<form action="/party/new" method="POST">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<div class='roundbox'><p>Or here are some of the rooms you've created previously:</p>
<li>
{% for room in rooms %}
<ul><a href='/party/{{ room.slug }}/dashboard'>{{room.name}}</a></ul>
{% endfor %}
</div>
</div>
{% else %}
<div class='roundbox'>
	<a href="{{login_url}}">Login with Facebook</a> to get started.
</div>
{% endif %}
{% endblock %}
